*{
    color: red;
}
h1{
    color: aquamarine;
}
h3{
    color: deeppink;
}
li{
    color: ;
}

img{
    height: 100px;
    width: 100px;
    border-radius:50%;
}

ul>li{
    color: purple;
    list-style-type: square;
}

